@model HomeViewModel

@{
    ViewData["PageTitlePrefix"] = "Home";
}
  <div class="container body-content">
    <div class="starter-template">
      <p class="lead">
        <h1>My Chores</h1>
        <ul class="list-group">
          @foreach (var chore in Model.MyChoreList) 
          {
            <li class="list-group-item">
              <span class="badge">@chore.Value</span>
              @chore.Name
            </li>
          }  
        </ul>
        <h1>Available Chores</h1>
        <ul class="list-group">
          @foreach (var chore in Model.AvailableChoreList) 
          {
            <li class="list-group-item">
              <span class="badge">@chore.Value</span>
              @chore.Name
            </li>
          }  
        </ul>
        </p>
    </div>
  </div>